<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>All products Page</h1>
<a href="/admin/products/add"><h2>Add a product</h2></a>

<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th>For Sale</th>
    </tr>
    <div th:each="product : ${products}">
        <tr>
            <td><a th:href="@{|/admin/products/${product.id}|}"><b th:text="${product.id}"></b></a></td>
            <td><a th:href="@{|/admin/products/${product.id}|}"><b th:text="${product.name}"></b></a></td>
            <td><a th:href="@{|/admin/products/${product.id}|}"><b th:text="|£${product.Price}|"></b></a></td>
            <td><a th:href="@{|/admin/products/${product.id}|}"><b th:text="${product.forSale}"></b></a></td>
        </tr>
    </div>
</table>
</body>
</html>