<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Product Overview</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/fontawesome/css/fontawesome-all.css}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div th:replace="fragments/nav-bar :: nav-bar"></div>
<div class="container">
    <h1>Product Overview</h1>
    <a href="/admin/products/add" class="link-button">Add a product</a>

    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>For Sale</th>
        </tr>
        <div th:each="product : ${products}">
            <tr>
                <td><a th:href="@{|/admin/products/${product.id}|}"><b th:text="${product.id}"></b></a></td>
                <td><a th:href="@{|/admin/products/${product.id}|}"><b th:text="${product.name}"></b></a></td>
                <td><a th:href="@{|/admin/products/${product.id}|}"><b th:text="|£${#numbers.formatDecimal(product.price, 0, 'COMMA', 2, 'POINT')}|"></b></a></td>
                <td><a th:href="@{|/admin/products/${product.id}|}"><b th:text="${product.forSale}"></b></a></td>
            </tr>
        </div>
    </table>
</div>
</body>
</html>