<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Product</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Add a Product</h1>
<form th:action="@{${action}}" th:object="${product}" method="post" enctype="multipart/form-data">
    <div class="container">
        <input type="hidden" th:field="*{id}"/>
        <label><b>Upload a picture</b></label>
        <input type="file" id="file" name="file" />
        <span data-placeholder="Choose and image...">Choose an image...</span>
        <label for="file" class="button">Browse</label>

        <label><b>Name of Product</b></label>
        <input type="text" placeholder="Name of Product" name="name" th:field="*{name}"required />

        <label><b>Description</b></label>
        <textarea th:field="*{description}"></textarea>

        <label><b>Price</b></label>
        <input type="number" step="0.01" min="0" th:field="*{price}"/>

        <button type="submit">Login</button>
    </div>
</form>

</body>
</html>