<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="|${heading} Product|"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/forms.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/fontawesome/css/fontawesome-all.css}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
<div th:replace="fragments/nav-bar :: nav-bar"></div>
<form th:action="@{${action}}" th:object="${product}" method="post" enctype="multipart/form-data">
    <div class="container">
        <h1 th:text="|${heading} Product|"></h1>
        <input type="hidden" th:field="*{id}"/>
        <label><b>Upload a picture</b></label>
        <div class="input-container">
            <input type="file" id="file" name="file" field="*{picture}"/>
            <span data-placeholder="Choose an image..."></span>
        </div>


        <label><b>Name of Product</b></label>
        <div class="input-container">
            <input type="text" placeholder="Name of Product" name="name" th:field="*{name}"required />
        </div>
        <label><b>Description</b></label>
        <div class="input-container">
            <textarea th:field="*{description}"></textarea>
        </div>
        <label><b>Price</b></label>
        <div class="input-container">
            <input type="number" step="0.01" min="0" th:field="*{price}"/>
        </div>
        <label><b>For Sale</b></label>
        <div class="input-container">
            <select class="selection" th:field="*{forSale}" size="2">
                <div th:if="*{forSale} == true">
                    <option selected value=true>True</option>
                    <option value=false>False</option>
                </div>

                <div th:if="*{forSale} == false">
                    <option value=true>True</option>
                    <option selected value=false>False</option>
                </div>
            </select>
        </div>
        <div class="button-container">
        <button type="submit" th:text="${heading}"></button>
        </div>
    </div>
</form>
</body>
</html>