<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Details</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/fontawesome/css/fontawesome-all.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/forms.css}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div th:replace="fragments/nav-bar :: nav-bar"></div>
<div class="container">
<h1>User Details</h1>
<a th:href="@{|/admin/users/${user.id}/edit|}" class="link-button">Edit User</a>
    <table>
        <tr>
            <th>Id</th>
            <th>Role</th>
            <th>Email</th>
            <th>Name</th>
            <th>Not Expired</th>
            <th>Not Locked</th>
            <th>Enabled</th>
        </tr>
        <tr>
            <td th:text="${user.id}"></td>
            <td th:text="${user.role.name}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.getNonExpired()}"></td>
            <td th:text="${user.getNonLocked()}"></td>
            <td th:text="${user.getEnabled()}"></td>
        </tr>
    </table>
    <h2>User's Orders</h2>
    <table>
        <th>Date</th>
        <th>Items</th>
        <th>Cost</th>
        <th></th>
        <div th:each="order : ${orders}">
            <tr>
                <td th:text="${#temporals.format(order.orderDate, 'dd-MM-yyyy - HH:mm')}"></td>
                <td>
                    <ul>
                        <div th:each="productDetail : ${order.orderDetails}">
                            <li th:text="${productDetail.product.name}"></li>
                        </div>
                    </ul>
                </td>
                <td th:text="|£${#numbers.formatDecimal(order.cost, 0, 'COMMA', 2, 'POINT')}|"></td>
                <td><a class="link-button" th:href="|/admin/order/${order.id}|">Details</a></td>
            </tr>
        </div>
    </table>
</div>
</body>
</html>