<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Checkout</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/forms.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/fontawesome/css/fontawesome-all.css}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div th:replace="fragments/nav-bar :: nav-bar"></div>
    <div class="container">
        <form action="/checkout" method="post">

        <h1>Checkout</h1>
            <p th:text="|Hello! ${user.name}, please confirm your details and order before checkout.|"></p>
        <div class="addresses">
            <div class="deliver-address">
                <h2>Delivery Address</h2>
                <input type="text" name="deliveryAddress"/>
            </div>
            <div class="payment-address">
                <h2>Payment Address</h2>
                <input type="text" name="paymentAddress"/>
            </div>
        </div>
        <div class="checkout-table">
            <table>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>

                <div th:each="product : ${cart}">
                    <tr>
                        <td th:text="${product.productName}"></td>
                        <td th:text="${product.quantity}"></td>
                        <td th:text="|£${#numbers.formatDecimal(product.getTotalPrice(), 0, 'COMMA', 2, 'POINT')}|"></td>
                    </tr>
                </div>
                <tr>
                    <td></td>
                    <td>Total Price:</td>
                    <td th:text="|£${#numbers.formatDecimal(cart.getTotalCost(), 0, 'COMMA', 2, 'POINT')}|"></td>
                </tr>
            </table>
        </div>
            <button type="submit">Confirm Order</button>
        </form>
    </div>
</body>
</html>