<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My Details</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/forms.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/fontawesome/css/fontawesome-all.css}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div th:replace="fragments/nav-bar :: nav-bar"></div>
<div class="container">
    <h1>My Details</h1>
    <form method="post" action="/account/details/edit">

        <input type="hidden" th:field="${user.id}" name="id"/>
        <h2>Name</h2>
        <div class="input-container">
            <input type="text" th:field="${user.name}" name="name"/>
        </div>
        <div class="button-container">
            <button type="submit">Edit</button>
        </div>
    </form>
    <form method="post" action="/account/details/delete">
        <div class="button-container">
            <button type="submit">Delete Account</button>
        </div>
    </form>
</div>
</body>
</html>