<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Order Details</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/fontawesome/css/fontawesome-all.css}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<div th:replace="fragments/nav-bar :: nav-bar"></div>
<body>
<div class="container">
    <h1>Order Details</h1>
    <div sec:authorize="hasRole('ROLE_ADMIN')">
        <h2>User</h2>
        <span th:text="${order.user.email}"></span>
    </div>
    <h2>Date</h2>
    <span th:text="${#temporals.format(order.orderDate, 'dd-MM-yyyy - HH:mm')}"></span>
    <h2>Delivery Address</h2>
    <span th:text="${order.deliveryAddress}"></span>
    <h2>Payment Address</h2>
    <span th:text="${order.paymentAddress}"></span>
    <table>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Cost</th>
        </tr>
        <div th:each="orderDetails : ${order.orderDetails}">
            <tr>
                <td th:text="${orderDetails.product.name}"></td>
                <td th:text="${orderDetails.quantity}"></td>
                <td th:text="|£${#numbers.formatDecimal(orderDetails.getTotalPrice(), 0, 'COMMA', 2, 'POINT')}||"></td>
            </tr>
        </div>
        <tr>
            <td></td>
            <td><b>Total Price:</b></td>
            <td th:text="|£${#numbers.formatDecimal(order.cost, 0, 'COMMA', 2, 'POINT')}|"></td>
        </tr>
    </table>
</div>
</body>
</html>