<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title th:text="${product.name}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1 th:text="${product.name}"></h1>
<div sec:authorize="hasRole('ROLE_ADMIN')">
    <a th:href="|/admin/products/${product.id}/edit|"><h2>Edit</h2></a>
    <h2>Remove From Sale</h2>
    <form th:action="|/admin/products/${product.id}/delete|" method="post">
        <button type="submit">Remove From Sale</button>
    </form>
</div>
<img th:src="@{|/products/${product.id}.jpg|}" th:alt="${product.name}"/>
<h2 th:text="|£${product.price}|"></h2>
<p th:text="${product.description}"></p>
<form action="/cartadd" method="post">
    <input type="hidden" name="id" th:value="${product.id}"/>
    <input type="number" value="1" min="1" name="quantity"/>
    <button type="submit">Add to cart</button>
</form>
</body>
</html>